In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
df_train = pd.read_csv(r'C:\Users\ainao\Downloads\Projects\Fraud Detection\Data\Train.csv')
df_test = pd.read_csv(r'C:\Users\ainao\Downloads\Projects\Fraud Detection\Data\Test.csv')

In [9]:
df_train.head()

,Transaction ID,Customer ID,Transaction Amount,Transaction Date,Payment Method,Product Category,Quantity,Customer Age,Customer Location,Device Used,IP Address,Shipping Address,Billing Address,Is Fraudulent,Account Age Days,Transaction Hour
0,15d2e414-8735-46fc-9e02-80b472b2580f,d1b87f62-51b2-493b-ad6a-77e0fe13e785,58.09,2024-02-20 05:58:41,bank transfer,electronics,1,17,Amandaborough,tablet,212.195.49.198,Unit 8934 Box 0058\nDPO AA 05437,Unit 8934 Box 0058\nDPO AA 05437,0,30,5
1,0bfee1a0-6d5e-40da-a446-d04e73b1b177,37de64d5-e901-4a56-9ea0-af0c24c069cf,389.96,2024-02-25 08:09:45,debit card,electronics,2,40,East Timothy,desktop,208.106.249.121,"634 May Keys\nPort Cherylview, NV 75063","634 May Keys\nPort Cherylview, NV 75063",0,72,8
2,e588eef4-b754-468e-9d90-d0e0abfc1af0,1bac88d6-4b22-409a-a06b-425119c57225,134.19,2024-03-18 03:42:55,PayPal,home & garden,2,22,Davismouth,tablet,76.63.88.212,"16282 Dana Falls Suite 790\nRothhaven, IL 15564","16282 Dana Falls Suite 790\nRothhaven, IL 15564",0,63,3
3,4de46e52-60c3-49d9-be39-636681009789,2357c76e-9253-4ceb-b44e-ef4b71cb7d4d,226.17,2024-03-16 20:41:31,bank transfer,clothing,5,31,Lynnberg,desktop,207.208.171.73,"828 Strong Loaf Apt. 646\nNew Joshua, UT 84798","828 Strong Loaf Apt. 646\nNew Joshua, UT 84798",0,124,20
4,074a76de-fe2d-443e-a00c-f044cdb68e21,45071bc5-9588-43ea-8093-023caec8ea1c,121.53,2024-01-15 05:08:17,bank transfer,clothing,2,51,South Nicole,tablet,190.172.14.169,"29799 Jason Hills Apt. 439\nWest Richardtown, ...","29799 Jason Hills Apt. 439\nWest Richardtown, ...",0,158,5

In [10]:
df_test.head()

,Transaction ID,Customer ID,Transaction Amount,Transaction Date,Payment Method,Product Category,Quantity,Customer Age,Customer Location,Device Used,IP Address,Shipping Address,Billing Address,Is Fraudulent,Account Age Days,Transaction Hour
0,c12e07a0-8a06-4c0d-b5cc-04f3af688570,8ca9f102-02a4-4207-ab63-484e83a1bdf0,42.32,2024-03-24 23:42:43,PayPal,electronics,1,40,East Jameshaven,desktop,110.87.246.85,5399 Rachel Stravenue Suite 718\nNorth Blakebu...,5399 Rachel Stravenue Suite 718\nNorth Blakebu...,0,282,23
1,7d187603-7961-4fce-9827-9698e2b6a201,4d158416-caae-4b09-bd5b-15235deb9129,301.34,2024-01-22 00:53:31,credit card,electronics,3,35,Kingstad,tablet,14.73.104.153,"5230 Stephanie Forge\nCollinsbury, PR 81853","5230 Stephanie Forge\nCollinsbury, PR 81853",0,223,0
2,f2c14f9d-92df-4aaf-8931-ceaf4e63ed72,ccae47b8-75c7-4f5a-aa9e-957deced2137,340.32,2024-01-22 08:06:03,debit card,toys & games,5,29,North Ryan,desktop,67.58.94.93,"195 Cole Oval\nPort Larry, IA 58422","4772 David Stravenue Apt. 447\nVelasquezside, ...",0,360,8
3,e9949bfa-194d-486b-84da-9565fca9e5ce,b04960c0-aeee-4907-b1cd-4819016adcef,95.77,2024-01-16 20:34:53,credit card,electronics,5,45,Kaylaville,mobile,202.122.126.216,"7609 Cynthia Square\nWest Brenda, NV 23016","7609 Cynthia Square\nWest Brenda, NV 23016",0,325,20
4,7362837c-7538-434e-8731-0df713f5f26d,de9d6351-b3a7-4bc7-9a55-8f013eb66928,77.45,2024-01-16 15:47:23,credit card,clothing,5,42,North Edwardborough,desktop,96.77.232.76,"2494 Robert Ramp Suite 313\nRobinsonport, AS 5...","2494 Robert Ramp Suite 313\nRobinsonport, AS 5...",0,116,15

In [11]:
df_train.shape, df_test.shape

((1472952, 16), (23634, 16))

In [14]:
df_train.columns

Index(['Transaction ID', 'Customer ID', 'Transaction Amount',
       'Transaction Date', 'Payment Method', 'Product Category', 'Quantity',
       'Customer Age', 'Customer Location', 'Device Used', 'IP Address',
       'Shipping Address', 'Billing Address', 'Is Fraudulent',
       'Account Age Days', 'Transaction Hour'],
      dtype='object')

In [12]:
df_train.isna().sum()

Transaction ID        0
Customer ID           0
Transaction Amount    0
Transaction Date      0
Payment Method        0
Product Category      0
Quantity              0
Customer Age          0
Customer Location     0
Device Used           0
IP Address            0
Shipping Address      0
Billing Address       0
Is Fraudulent         0
Account Age Days      0
Transaction Hour      0
dtype: int64

In [19]:

df_test.isna().sum()

Transaction ID        0
Customer ID           0
Transaction Amount    0
Transaction Date      0
Payment Method        0
Product Category      0
Quantity              0
Customer Age          0
Customer Location     0
Device Used           0
IP Address            0
Shipping Address      0
Billing Address       0
Is Fraudulent         0
Account Age Days      0
Transaction Hour      0
dtype: int64

In [15]:
df_train['Is Fraudulent'].value_counts()

Is Fraudulent
0    1399114
1      73838
Name: count, dtype: int64

In [18]:
df_train.dtypes

Transaction ID         object
Customer ID            object
Transaction Amount    float64
Transaction Date       object
Payment Method         object
Product Category       object
Quantity                int64
Customer Age            int64
Customer Location      object
Device Used            object
IP Address             object
Shipping Address       object
Billing Address        object
Is Fraudulent           int64
Account Age Days        int64
Transaction Hour        int64
dtype: object

In [24]:

# This shows how many times each unique value appears
print(df_train['Is Fraudulent'].value_counts())

Is Fraudulent
0    1399114
1      73838
Name: count, dtype: int64

In [26]:
num_cols = df_train.select_dtypes(include=["int64", "float64"]).columns.tolist()
cat_cols = df_train.select_dtypes(include=["object", "category"]).columns.tolist()

In [ ]:
numeric_features = df_train.select_dtypes(include=["number"]).columns.tolist()
categorical_features = df_train.select_dtypes(include=["object", "category"]).columns.tolist()

In [38]:
import pandas as pd
import numpy as np
import logging
from sklearn.preprocessing import StandardScaler, OrdinalEncoder, LabelEncoder
from sklearn.compose import ColumnTransformer

In [39]:
def convert_data_types(df:pd.DataFrame) -> pd.DataFrame:
        df['Transaction Amount'] = pd.to_numeric(df['Transaction Amount'], errors='coerce')
        df['Quantity'] = pd.to_numeric(df['Quantity'], errors='coerce')
        df['Customer Age'] = pd.to_numeric(df['Customer Age'], errors='coerce')
        df['Account Age Days'] = pd.to_numeric(df['Account Age Days'], errors='coerce')
        df['Transaction Hour'] = pd.to_numeric(df['Transaction Hour'], errors='coerce')
        df['Is Fraudulent'] = df['Is Fraudulent'].astype(int)
        df['Transaction Date'] = pd.to_datetime(df['Transaction Date'], errors='coerce')
        return df




def engineer_features(df: pd.DataFrame) -> pd.DataFrame:
        """Adds engineered features to the dataframe."""

         # Convert to datetime, coercing errors to NaT
        df['Transaction Date'] = pd.to_datetime(df['Transaction Date'], errors='coerce')
    
        print("Transaction Date column after conversion:")
        print(df['Transaction Date'].head())
        print("Data type:", df['Transaction Date'].dtype)
    
        # Transaction Amount Features
        df['Log Transaction Amount'] = np.log1p(df['Transaction Amount'])
        df['Amount Bin'] = pd.qcut(df['Transaction Amount'], q=4, labels=False)

        # Time-based Features
        df['Day of Week'] = df['Transaction Date'].dt.dayofweek
        df['Is Weekend'] = df['Day of Week'].isin([5, 6]).astype(int)
        df['Hour Bin'] = pd.cut(df['Transaction Hour'], bins=[0, 6, 12, 18, 24], labels=False)

        # Address Discrepancy
        df['Address Mismatch'] = (df['Shipping Address'] != df['Billing Address']).astype(int)

        # Customer Behavior Features
        df['Amount per Item'] = df['Transaction Amount'] / df['Quantity']
        df['Age Amount Interaction'] = df['Customer Age'] * df['Transaction Amount']
        df['Account Age Bin'] = pd.qcut(df['Account Age Days'], q=4, labels=False)

        # Categorical Encoding
        le = LabelEncoder()
        categorical_cols = ['Payment Method', 'Product Category', 'Device Used', 'Customer Location']
        for col in categorical_cols:
            df[f'{col}_encoded'] = le.fit_transform(df[col].astype(str))

        # IP Address Features
        df['IP First Octet'] = df['IP Address'].apply(lambda x: int(x.split('.')[0]) if isinstance(x, str) else 0)

        # Fraud Risk Indicators
        df['High Value Transaction'] = (df['Transaction Amount'] > df['Transaction Amount'].quantile(0.95)).astype(int)
        df['New Account'] = (df['Account Age Days'] < 30).astype(int)

        return df

In [40]:
df_update = convert_data_types(df = df_train)
df_update = engineer_features(df=df_update)

Transaction Date column after conversion:
0   2024-02-20 05:58:41
1   2024-02-25 08:09:45
2   2024-03-18 03:42:55
3   2024-03-16 20:41:31
4   2024-01-15 05:08:17
Name: Transaction Date, dtype: datetime64[ns]
Data type: datetime64[ns]

In [42]:
df_train.head()

,Transaction ID,Customer ID,Transaction Amount,Transaction Date,Payment Method,Product Category,Quantity,Customer Age,Customer Location,Device Used,...,Amount per Item,Age Amount Interaction,Account Age Bin,Payment Method_encoded,Product Category_encoded,Device Used_encoded,Customer Location_encoded,IP First Octet,High Value Transaction,New Account
0,15d2e414-8735-46fc-9e02-80b472b2580f,d1b87f62-51b2-493b-ad6a-77e0fe13e785,58.09,2024-02-20 05:58:41,bank transfer,electronics,1,17,Amandaborough,tablet,...,58.090,987.53,0,1,1,2,663,212,0,0
1,0bfee1a0-6d5e-40da-a446-d04e73b1b177,37de64d5-e901-4a56-9ea0-af0c24c069cf,389.96,2024-02-25 08:09:45,debit card,electronics,2,40,East Timothy,desktop,...,194.980,15598.40,0,3,1,0,17313,208,0,0
2,e588eef4-b754-468e-9d90-d0e0abfc1af0,1bac88d6-4b22-409a-a06b-425119c57225,134.19,2024-03-18 03:42:55,PayPal,home & garden,2,22,Davismouth,tablet,...,67.095,2952.18,0,0,3,2,6790,76,0,0
3,4de46e52-60c3-49d9-be39-636681009789,2357c76e-9253-4ceb-b44e-ef4b71cb7d4d,226.17,2024-03-16 20:41:31,bank transfer,clothing,5,31,Lynnberg,desktop,...,45.234,7011.27,1,1,0,0,36744,207,0,0
4,074a76de-fe2d-443e-a00c-f044cdb68e21,45071bc5-9588-43ea-8093-023caec8ea1c,121.53,2024-01-15 05:08:17,bank transfer,clothing,2,51,South Nicole,tablet,...,60.765,6198.03,1,1,0,2,82691,190,0,0

In [41]:
df_update.head()

,Transaction ID,Customer ID,Transaction Amount,Transaction Date,Payment Method,Product Category,Quantity,Customer Age,Customer Location,Device Used,...,Amount per Item,Age Amount Interaction,Account Age Bin,Payment Method_encoded,Product Category_encoded,Device Used_encoded,Customer Location_encoded,IP First Octet,High Value Transaction,New Account
0,15d2e414-8735-46fc-9e02-80b472b2580f,d1b87f62-51b2-493b-ad6a-77e0fe13e785,58.09,2024-02-20 05:58:41,bank transfer,electronics,1,17,Amandaborough,tablet,...,58.090,987.53,0,1,1,2,663,212,0,0
1,0bfee1a0-6d5e-40da-a446-d04e73b1b177,37de64d5-e901-4a56-9ea0-af0c24c069cf,389.96,2024-02-25 08:09:45,debit card,electronics,2,40,East Timothy,desktop,...,194.980,15598.40,0,3,1,0,17313,208,0,0
2,e588eef4-b754-468e-9d90-d0e0abfc1af0,1bac88d6-4b22-409a-a06b-425119c57225,134.19,2024-03-18 03:42:55,PayPal,home & garden,2,22,Davismouth,tablet,...,67.095,2952.18,0,0,3,2,6790,76,0,0
3,4de46e52-60c3-49d9-be39-636681009789,2357c76e-9253-4ceb-b44e-ef4b71cb7d4d,226.17,2024-03-16 20:41:31,bank transfer,clothing,5,31,Lynnberg,desktop,...,45.234,7011.27,1,1,0,0,36744,207,0,0
4,074a76de-fe2d-443e-a00c-f044cdb68e21,45071bc5-9588-43ea-8093-023caec8ea1c,121.53,2024-01-15 05:08:17,bank transfer,clothing,2,51,South Nicole,tablet,...,60.765,6198.03,1,1,0,2,82691,190,0,0

In [43]:
import pandas as pd
import numpy as np
import logging
from sklearn.preprocessing import StandardScaler, OrdinalEncoder, LabelEncoder
from sklearn.compose import ColumnTransformer

In [44]:
def build_preprocessor(self, df: pd.DataFrame) -> ColumnTransformer:
      
      """
      Constructs a preprocessing pipeline for numerical and categorical features.

      Parameters:
      - df (pd.DataFrame): Input DataFrame (excluding target column 'Is Fraudulent').

      Returns:
      - ColumnTransformer: A scikit-learn transformer for preprocessing.
      """
      # Drop the target column if present
      df = df.drop(columns=["Is Fraudulent"], errors="ignore")

      # Identify numerical and categorical columns
      numeric_features = df.select_dtypes(include=["number"]).columns.tolist()
      categorical_features = df.select_dtypes(include=["object", "category"]).columns.tolist()
  
       # Pipelines with imputation
      numeric_pipeline = Pipeline([
        ("imputer", SimpleImputer(strategy="mean")),
        ("scaler", StandardScaler())
        ])

      categorical_pipeline = Pipeline([
        ("imputer", SimpleImputer(strategy="most_frequent")),
        ("encoder", OneHotEncoder(handle_unknown="ignore", sparse=False))
         ])

    # ColumnTransformer to apply pipelines
      preprocessor = ColumnTransformer(transformers=[
        ("num", numeric_pipeline, numeric_features),
        ("cat", categorical_pipeline, categorical_features)
        ])

      return preprocessor

In [ ]:
 preprocessor = self.build_preprocessor(X_train)

        logging.info("Applying preprocessing pipeline.")
        X_train_processed = preprocessor.fit_transform(X_train)
        X_test_processed = preprocessor.transform(X_test)